.container {
  border-right: 1px solid rgb(197, 197, 197);
  width: 73.5%;
  padding: 1.5rem;
  padding-top: 0.5rem;
  animation: clarity 1.5s;
}

.walletContainer {
  margin-bottom: 3rem;
}

.greetingContainer {
  height: 20%;
}

.greeting {
  display: flex;
  height: 100%;
}

.greeting div {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 0.5rem;
}

.greeting div img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.greeting strong {
  position: relative;
  top: 0.5rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.overview {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.wallet_detail {
  width: 50%;
  margin: 0.5rem 0;
}

.wallet_detail_icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 1rem;
  border-radius: 0.6rem;
  display: inline-block;
  position: relative;
}

.wallet_detail_icon div {
  height: 40%;
  width: 40%;
  position: relative;
  left: 0.7rem;
  top: 0.7rem;
}

.wallet_detail_item {
  display: inline-block;
  position: relative;
  top: 1.1rem;
}

.wallet_detail_item h1 {
  font-size: 1.5rem;
}

.detail_item_heading {
  color: rgb(160, 160, 160);
}

@keyframes clarity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .wallet_detail_icon {
    margin: 0 0.5rem;
    width: 2.2rem;
  }
}
