.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.favorites_container {
  display: flex;
  padding: 0;
}

.favorites_heading {
  display: flex;
  justify-content: space-between;
}

.favorites_item {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  width: 45%;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
  margin: 0 0.5rem;
}

.favorites_item > div {
  display: flex;
}

.favorites_item_image {
  position: relative;
  top: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.favorites_item_image img {
  height: 100%;
  width: 100%;
}

.favorites_item_name h4,
.percentageDiff {
  color: rgb(130, 127, 127);
}

.favorites_item > div:last-child {
  display: flex;
  flex-direction: column;
  text-align: center;
}
