.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.liveCharts_container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.liveCharts_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.liveCharts_heading h5 {
  color: rgb(8, 8, 173);
}

.live_item {
  margin: 0.5rem;
  margin-top: 0.35rem;
  padding-right: 1rem;
  width: 100%;
  justify-content: space-between;

}

.live_item,
.live_item_name {
  display: flex;
}

.live_item h5 {
  color: rgb(130, 127, 127);
}

.live_item_picture {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  color: rgb(252, 227, 85, 0.7);
}

.live_item_picture img {
  height: 100%;
  width: 100%;
}

.live_item_chart {
  width: 40%;
  height: 2.7rem;
}