.portfolio_container {
   width: 23%;
   background-color: rgb(244, 238, 238);
   display: flex;
   flex-direction: column;
   padding: 1rem;
   padding-top: 0.75rem;
}

.portfolio_heading{
    display: flex;
    flex-direction: column;
}

.portfolio_heading * {
    margin: 0.25rem 0;
}

.portfolio_display {
    background-color: rgb(8, 8, 173);
    border-radius: 10px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.87);
}

.portfolio_display h3 {
    margin-top: 0.5rem;
}

.portfolio_buttons {
    position: relative;
     top: 1.7rem;
     display: flex;
     justify-content: space-between;
}

.portfolio_buttons button {
    cursor: pointer;
    margin-left: 0.35rem;
    width: 6rem;
    border-radius: 10px;
    padding: 0.25rem;
    padding-top: 0.4rem;
    border-color: transparent;
    box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.5);
    display: flex;
}

.portfolio_svg {
    width: 20%;
    height: 70%;
    margin-right: 0.3rem;
}

@media screen and (max-width: 450px) {
    .portfolio_container {
        background-color: white;
    }
}