.sideNav {
  height: 100%;
  width: 5%;
  border-right: 1px solid rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideNav_homeLink {
  margin-top: 1rem;
}

.sideNav_links {
  list-style: none;
  padding: 0;
}

.sideNav_homeLink,
.sideNav_links li a {
  height: 4rem;
  width: 2rem;
}

@media screen and (max-width: 450px) {
  .sideNav {
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5);
  }
  .sideNav_links {
    display: none;
  }
}

.sideNav_links li a {
  display: inline-block;
}
