.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 120;
}

.container form {
  width: 20rem;
  height: 15rem;
  background-color: white;
  border-radius: 0.56rem;
  padding: 1rem;
  position: fixed;
  left: 34%;
  top: 10rem;
  z-index: 125;
}

.selectTransaction {
  height: 1.5rem;
  width: 5rem;
}

.question {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.container input[type="number"] {
  width: 7rem;
}

.container input[type="text"] {
  height: 2rem;
}

.buttonsDiv {
  margin-top: 5%;
  text-align: end;
}

.buttonsDiv button {
  margin: 0 0.25rem;
  border-radius: 0.3rem;
  border-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  padding: 0.25rem;
}

.addButton {
  background-color: rgb(8, 8, 173);
}

.cancelButton {
  background-color: rgb(255, 45, 45);
}

.errorText {
  color: rgb(255, 45, 45);
}