.summaryContainer {
    width: 100%;
    height: 60%;
}


.summaryHeadings {
    display: flex;
    border: 1px solid  rgb(197, 197, 197);
    border-left: none;
    border-right: none;
    padding: 0.5rem 0;
}

.summaryHeadings div {
    margin: 0 2rem;
    color: rgb(113, 109, 109);;
}

.summaryHeadings div:first-child {
    color: black;
}
