.logInContainer {
text-align: center;
padding: 5rem;
padding-top: 6rem;
background: linear-gradient(to bottom,  rgb(208, 205, 205) 50%, rgb(8, 8, 173));

}

.introText {
    margin-bottom: 2rem;
}

.introText h1 {
    font-size: 5rem;
    font-style: oblique;
}

.introText h4 {
    font-size: 1.4rem;
    font-style: italic;
}

.logInContainer button {
    margin-top: 1rem;
}

.logInContainer form {
    margin-top: 5rem;
}