.logInContainer {
text-align: center;
padding: 5rem;
padding-top: 6rem;
background: linear-gradient(to bottom,  rgb(208, 205, 205) 50%, rgb(8, 8, 173));

}

.logInContainer button {
    margin: 0 1rem;
    height: 2rem;
    padding: 0 0.9rem;
    border-radius: 0.3rem;
    border-color: transparent;
    cursor: pointer;
    font-style: italic;
}


.introText {
    margin-bottom: 2rem;
    animation: clarity 1s;
}

.introText h1 {
    font-size: 3rem;
    font-style: oblique;
    margin-bottom: 1rem;
}

.introText h4 {
    font-size: 1.2rem;
    font-style: italic;
}

.logInContainer button {
    margin-top: 1rem;
}

.logInContainer form {
    margin-top: 5rem;
    animation: clarity 1s;
 
}

.logInContainer form h3 {
    margin: 0.5rem 0;
}


@keyframes clarity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }