.getContainer input {
    height: 2rem;
    margin-top: 0.3rem;
    border-radius: 0.6rem;
    border-color: transparent;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
    outline-color: transparent;
}

.getFavCoins label{
    margin: 0 0.5rem;

}

.getFavCoins h2{
    margin: 0.5rem 0;
}
 .getFavCoins input {
    margin-right: 0.25rem;
    position: relative;
    top: 0.1rem;
}