.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin: 0;
  box-sizing: border-box;
}

.new_page_flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.new_Page, .new_page_flex {
  height: 100%;
  width: 100%;

}

.spinner {
  height: 10%;
  width: 100%;
  position: relative;
  top: 25%;
  text-align: center;
}

.spin_container {
   width: 100%;
   padding-left: 48%;
}

.spin_container svg {
  width: 10%;
}

.please-wait-text{
  margin-top: 2rem;
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
 
}

@media screen and (max-width: 450px) {
  .new_page_flex {
    flex-direction: column;
  }

  
  .new_page_flex > section {
    width: 100%;
  }
}