.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.new_page_flex {
  display: flex;
  flex-direction: row;
}

.new_Page, .new_page_flex {
  overflow: auto;
  height: 100%;

}

#nightBackground {
  background-color: black;
  transition: background-color 0.5s linear;
  color: whitesmoke;
}

#dayBackground {
  background-color: white;
  transition: background-color 0.5s linear;
}

.spinner {
  height: 10%;
  width: 100%;
  position: relative;
  top: 25%;
  text-align: center;
}

.spin_container {
   width: 100%;
   padding-left: 48%;
}

.spin_container svg {
  width: 10%;
}

.please-wait-text{
  margin-top: 2rem;
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
 
}

@media screen and (max-width: 450px) {
  .new_page_flex {
    flex-direction: column;
  }

  
  .new_page_flex > section {
    width: 100%;
  }
}

